<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="col-md-3 d-flex align-items-center">
            <a href="/" class="d-inline-flex align-items-center text-decoration-none">
                <img src="/images/productivity.png" alt="Productivity Dashboard Logo" width="40" height="40" class="me-2" />
                <span class="fs-5" id="header-title">Productivity Dashboard</span>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- your links here -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/journal">Journal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar">Calendar</a>
                </li>
            </ul>

            <% if (!locals.user) { %>
                <div class="d-flex">
                    <a href="/login" class="btn btn-outline-primary me-2">Login</a>
                    <a href="/register" class="btn btn-primary">Register</a>
                </div>
                <% } else { %>
                    <div class="navbar-text">
                        Welcome, <%= locals.user.firstName %>
                    </div>
                    <% } %>
        </div>
    </div>
</nav>